<div class="bg-cyan p-8" style="height: 100%">
<h1 class="fg-white">DashBoard</h1>
	<div class="grid">
		<div class="row">
			<div class="cell">
        <h2 class="fg-white">Posts : </h2>
        <div class="tiles-grid bd-white">
            </div>
          <% end %>
        </div>
      </div>
		</div>
		<div class="row">
			<div class="cell"></div>
		</div>
		<div class="row">
			<div class="cell"></div>
		</div>
	</div>
</div>